# Data cleaning continued

In [39]:
import pandas as pd
import numpy as np

In [40]:

df = pd.read_csv('./data/cleaned_data.csv')

# Remove leading/trailing whitespace and replace non-breaking spaces
df.columns = df.columns.str.strip().str.replace('\xa0', ' ').str.replace('  ', ' ')
print(df.columns.tolist())

# Standardizing numerical columns with currency symbols
def clean_currency_column(series):
    return pd.to_numeric(series.replace(r'[\$,]', '', regex=True), errors='coerce')

# Apply the function to the appropriate columns
for col in ['Actual gross', 'Adjusted gross (in 2022 dollars)', 'Average gross']:
    df[col] = clean_currency_column(df[col])

#Drop both All Time Peak and Peak columns
df.drop(columns=['Peak', 'All Time Peak'], inplace=True)


df

['Rank', 'Peak', 'All Time Peak', 'Actual gross', 'Adjusted gross (in 2022 dollars)', 'Artist', 'Tour title', 'Year(s)', 'Shows', 'Average gross', 'Ref.']

,Rank,Actual gross,Adjusted gross (in 2022 dollars),Artist,Tour title,Year(s),Shows,Average gross,Ref.
0,1,780000000.0,780000000,Taylor Swift,The Eras Tour †,2023–2024,56,13928571,[1]
1,2,579800000.0,579800000,Beyoncé,Renaissance World Tour,2023,56,10353571,[3]
2,3,411000000.0,560622615,Madonna,Sticky & Sweet Tour ‡[4][a],2008–2009,85,4835294,[6]
3,4,397300000.0,454751555,Pink,Beautiful Trauma World Tour,2018–2019,156,2546795,[7]
4,5,345675146.0,402844849,Taylor Swift,Reputation Stadium Tour,2018,53,6522173,[8]
5,6,305158363.0,388978496,Madonna,The MDNA Tour,2012,88,3467709,[9]
6,7,280000000.0,381932682,Celine Dion,Taking Chances World Tour,2008–2009,131,2137405,[11]
7,7,257600000.0,257600000,Pink,Summer Carnival †,2023–2024,41,6282927,[12]
8,9,256084556.0,312258401,Beyoncé,The Formation World Tour,2016,49,5226215,[13]
9,10,250400000.0,309141878,Taylor Swift,The 1989 World Tour,2015,85,2945882,[14]
10,11,NaN,283202896,Beyoncé,The Mrs. Carter Show World Tour,2013–2014,132,1735606,[15][16]
11,12,227400000.0,295301479,Lady Gaga,The Monster Ball Tour *,2009–2011,203,1118227,[18]
12,13,204000000.0,251856802,Katy Perry,Prismatic World Tour,2014–2015,151,1350993,[19]
13,14,200000000.0,299676265,Cher,Living Proof: The Farewell Tour ‡[21][a],2002–2005,325,615385,[20]
14,15,194000000.0,281617035,Madonna,Confessions Tour,2006,60,3233333,[5]
15,16,184000000.0,227452347,Pink,The Truth About Love Tour,2013–2014,142,1295775,[22]
16,17,170000000.0,213568571,Lady Gaga,Born This Way Ball,2012–2013,98,1734694,[d]
17,18,169800000.0,207046755,Madonna,Rebel Heart Tour,2015–2016,82,2070732,[4]
18,19,NaN,204486106,Adele,Adele Live 2016,2016–2017,121,1385950,[25]
19,20,150000000.0,185423109,Taylor Swift,The Red Tour,2013–2014,86,1744186,[26]

In [41]:
df.to_csv('./data/cleaned_data.csv', index=False)